@media (max-width: 576px) {
    .section-title {
        font-size: 10vw;
    }
    .navbar-brand img {
        height: 32px;
        max-width: 90px;
    }
}

@media (max-width: 768px) {
    .section-title {
        font-size: 7vw;
    }
    .footer-logo {
        max-height: 90px;
    }
}

@media (max-width: 576px) {
    .footer-logo {
        max-height: 50px;
    }
}
